@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Inter&&family=Roboto&display=swap');

.div1 {
    background-color: yellow;
    color: #0F0061;
    flex: 1;
}

h1, h2, h3 {
    text-align: center;
}

table {
    width: 30%;
    border-collapse: collapse;
    margin: 10px auto;
}

th, td {
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}

.div2 {
    background-color: royalblue;
    color:mistyrose;
    flex: 1;
}

.div3 {
    background-color: seagreen;
    color: #ffffff;
    flex: 1;
}

.div4 {
    background-color: palegreen;
    color: #940000;
    flex: 1;
}

div > h3 {
    font-size: 120%;
    color: #000000;
}

h1, h2, h3 {
    font-family: Poppins;
}

article {
    font-family: Inter;
}

div > h3 {
    width: 150px;
    font-family: Roboto;
    border: 1px solid black;
    background-color: aqua;
}


main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/***** MOBILE VERSION *****/
@media (max-width: 768px) {

    .col-sm-1 {
        flex-basis: 8.33%;
    }
    .col-sm-2 {
        flex-basis: 16.66%;
    }
    .col-sm-3 {
        flex-basis: 25%;
    }
    .col-sm-4 {
        flex-basis: 33.33%;
    }
    .col-sm-5 {
        flex-basis: 41.66%;
    }
    .col-sm-6 {
        flex-basis: 50%;
    }
    .col-sm-7 {
        flex-basis: 58.33%;
    }
    .col-sm-8 {
        flex-basis: 66.66%;
    }
    .col-sm-9 {
        flex-basis: 75%;
    }
    .col-sm-10 {
        flex-basis: 83.33%;
    }
    .col-sm-11 {
        flex-basis: 91.66%;
    }
    .col-sm-12 {
        flex-basis: 100%;
    }
}


/***** TABLET VERSION *****/
@media (min-width: 769px) and (max-width: 992px) {

    .col-md-1 {
        flex-basis: 8.33%;
    }
    .col-md-2 {
        flex-basis: 16.66%;
    }
    .col-md-3 {
        flex-basis: 25%;
    }
    .col-md-4 {
        flex-basis: 33.33%;
    }
    .col-md-5 {
        flex-basis: 41.66%;
    }
    .col-md-6 {
        flex-basis: 50%;
    }
    .col-md-7 {
        flex-basis: 58.33%;
    }
    .col-md-8 {
        flex-basis: 66.66%;
    }
    .col-md-9 {
        flex-basis: 75%;
    }
    .col-md-10 {
        flex-basis: 83.33%;
    }
    .col-md-11 {
        flex-basis: 91.66%;
    }
    .col-md-12 {
        flex-basis: 100%;
    }
}

/***** DESKTOP VERSION *****/
@media (min-width: 993px) and (max-width: 1200px) {


    .col-lg-1 {
        flex-basis: 8.33%;
    }
    .col-lg-2 {
        flex-basis: 16.66%;
    }
    .col-lg-3 {
        flex-basis: 25%;
    }
    .col-lg-4 {
        flex-basis: 33.33%;
    }
    .col-lg-5 {
        flex-basis: 41.66%;
    }
    .col-lg-6 {
        flex-basis: 50%;
    }
    .col-lg-7 {
        flex-basis: 58.33%;
    }
    .col-lg-8 {
        flex-basis: 66.66%;
    }
    .col-lg-9 {
        flex-basis: 75%;
    }
    .col-lg-10 {
        flex-basis: 83.33%;
    }
    .col-lg-11 {
        flex-basis: 91.66%;
    }
    .col-lg-12 {
        flex-basis: 100%;
    }
}

/***** WIDE DESKTOP VERSION *****/
@media (min-width: 1201px) {

    .col-xl-1 {
        flex-basis: 8.33%;
    }
    .col-xl-2 {
        flex-basis: 16.66%;
    }
    .col-xl-3 {
        flex-basis: 25%;
    }
    .col-xl-4 {
        flex-basis: 33.33%;
    }
    .col-xl-5 {
        flex-basis: 41.66%;
    }
    .col-xl-6 {
        flex-basis: 50%;
    }
    .col-xl-7 {
        flex-basis: 58.33%;
    }
    .col-xl-8 {
        flex-basis: 66.66%;
    }
    .col-xl-9 {
        flex-basis: 75%;
    }
    .col-xl-10 {
        flex-basis: 83.33%;
    }
    .col-xl-11 {
        flex-basis: 91.66%;
    }
    .col-xl-12 {
        flex-basis: 100%;
    }
}